# Домашнее задание

Проанализировать датасет по цветам ириса:


*   Сколько в нем строк и столбцов?
*   Сколько сортов ириса (следует выбрать столбец и использовать метод **unique**)?
*   Есть ли пустые значения?
*   Максимальное значение **sepal_width**.
*   Минимальное значение **sepal_length**.
*   Среднее значение **petal_width**.
*   Вывести общую таблицу описательной статистике.

Выполненное задание следует загрузить на ***платформу***

In [1]:
# Стартовый код
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
# Посмотреть последние 5 строк
df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [3]:
# 1 ответ. Возвращает размеры таблицы: кортеж из 2 значений, 150 строк, 5 - столбцов
df.shape

(150, 5)

In [4]:
# 2 ответ. Сколько сортов ириса (следует выбрать столбец и использовать метод **unique**)?
# всего 3 уникальных сорта ириса
df[['species']].describe()

       species
count      150
unique       3
top     setosa
freq        50

In [5]:
# 3 ответ. Посмотреть есть ли у нас пустые значения
# В данном случае пустых значений нет
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
# 4 ответ. Максимальное значение **sepal_width** = 4.400000
df[['sepal_width']].describe()

       sepal_width
count   150.000000
mean      3.057333
std       0.435866
min       2.000000
25%       2.800000
50%       3.000000
75%       3.300000
max       4.400000

In [8]:
# 4 ответ. Максимальное значение **sepal_width** = 4.400000
df[['sepal_width']].max()

sepal_width    4.4
dtype: float64

In [9]:
#  5 ответ. Минимальное значение **sepal_length**. = 4.300000
df[['sepal_length']].describe()

       sepal_length
count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000

In [10]:
#  5 ответ. Минимальное значение **sepal_length**. = 4.300000
df[['sepal_length']].min()

sepal_length    4.3
dtype: float64

In [11]:
# 6 ответ. среднее значение Среднее значение **petal_width**. ширина лепестка
df['petal_width'].mean()

1.1993333333333336

In [12]:
# 7 ответ.  Вывести общую таблицу описательной статистике.
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000